.headerInfo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  width: 100%;
}

.releaseYear {
  margin-left: 8px;
  font-weight: 400;
  opacity: 0.7;
}

.facts {
  display: flex;
}

.genres {
  display: flex;
  gap: 5px;
  position: relative;
  padding-left: 20px;
}

.genres::before,
.runtime::before {
  align-items: center;
  content: "•";
  display: inline-flex;
  height: 100%;
  font-size: 1.1em;
  position: absolute;
  left: 7px;
  width: 100%;
}

.runtime {
  position: relative;
  padding-left: 20px;
}

.overviewTitle {
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 8px;
}
