.card_container {
  width: 146px;
  font-weight: 500;
}

.card_image {
  width: 146px;
  height: 219px;
}

.card_title {
  font-size: 13px;
  margin: 8px 0 4px 0;
}

.card_details {
  display: inline;
  margin-right: 30px;
  font-size: 11px;
  color: #8b8e93;
}
