.card {
  width: 146px;
  padding-bottom: 8px;
  font-weight: 500;
}

.card_image {
  width: 146px;
  border-radius: 8px 8px 0 0;
}

.cardTitle {
  font-size: 13px;
}

.cardDetail {
  font-size: 11px;
  color: #8b8e93;
}
