.header {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  border-bottom: 2px solid var(--color-primary);
}

.linkList {
  list-style: none;
  display: flex;
  gap: 10px;
}
